## No directory listings
<IfModule autoindex>
  IndexIgnore *
</IfModule>

<IfModule mod_expires.c>
  AddType application/json          json map topojson
  AddType application/ld+json       jsonld
  AddType application/geo+json      geojson
  AddType application/rdf+xml       rdf
</IfModule>

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,HEAD,OPTIONS,DELETE,PUT"

Options +FollowSymlinks
Options -Indexes

RewriteEngine On

# RewriteBase /

## Begin - Joomla! core SEF Section.
#
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#
# If the requested path and file is not /index.php and the request
# has not already been internally rewritten to the index.php script
RewriteCond %{REQUEST_URI} !^/public/index\.php
# and the requested path and file doesn't directly match a physical file
RewriteCond %{REQUEST_FILENAME} !-f
# and the requested path and file doesn't directly match a physical folder
RewriteCond %{REQUEST_FILENAME} !-d
# internally rewrite the request to the index.php script
RewriteRule .* public/index.php [L]
#
## End - Joomla! core SEF Section.