# No directory listings
<IfModule autoindex>
  IndexIgnore *
  Options -Indexes
</IfModule>

<IfModule mod_expires.c>
  AddType application/json          json map topojson
  AddType application/ld+json       jsonld
  AddType application/geo+json      geojson
  AddType application/rdf+xml       rdf
</IfModule>

# CORS
Header add Access-Control-Allow-Origin "*"
# Header add Access-Control-Allow-Methods: "GET,POST,HEAD,OPTIONS,DELETE,PUT"
Header add Access-Control-Allow-Methods: "GET,HEAD,OPTIONS"

RewriteEngine on
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|PUT|DELETE|CONNECT|POST)
RewriteRule .* - [L,R=405]

ErrorDocument 405 /_/error/error405.json
ErrorDocument 500 /_/error/error500.json
ErrorDocument 503 /_/error/error503.json

RewriteEngine On
# For sake of performance, some URNs are served by Apache, not by the application
RewriteRule ^urn:resolver:schema:urnr$ "_/meta/urnresolver-urnr.schema.json"
RewriteRule ^urn:resolver:schema:api:base$ "_/meta/urnresolver-api-base.schema.json"
RewriteRule ^urn:resolver:context:api:base$ "_/meta/urnresolver-api-base.context.jsonld"
RewriteRule ^urn:resolver:context:api:extra$ "_/meta/urnresolver-api-extra.context.jsonld"

# Everything else neither file or directory, pass to index.php to resolve
RewriteCond %{REQUEST_URI} !^/index\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]
